* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} 

header {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%);
    position: fixed;
    top: 0;
    z-index: 1000;
}

header img {
    height: 100px;
}

aside img {
    height: 100px;
    width: 100px;
}

.container {
    margin-left: 200px; /* corresponde à largura do aside */
    margin-top: 130px; /* Compensa a altura do header */
}

aside {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%);
}

aside img {
    height: 120px;
    width: 120px;
}

aside h4 {
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #fff ;
}

 .valor{
    font-size: 26px;
    margin-top: 12px;
}

aside span {
    color: #7F00FF;
}

aside div {
    height: 150px;
    width: 180px;
    background-color:  #614ceb;
    border: none;
    border-radius: 24px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

section {
    background-color: #2E2E2E; 
    height: 100vh;
}

/* Estilos gerais para a seção de métricas e gráficos */
section.metricas-graficos {
    display: flex; /* Ativa o layout flexbox */
    flex-direction: column; /* Organiza os elementos em coluna */
    padding: 20px; /* Adiciona um pouco de espaçamento */
}

/* Estilos para a seção de métricas */
.metricas {
    display: flex; /* Ativa o layout flexbox para as métricas */
    justify-content: space-around; /* Espaça as métricas horizontalmente */
    margin-bottom: 20px; /* Espaço entre métricas e gráficos */
}

.metricas > div {
    height: 150px;
    width: 150px;
     background-color: #614ceb;  
     /* background-color: #11C8E8;  */
    /* Cor de fundo das métricas */
    color: white; /* Cor do texto */
    padding: 20px; /* Preenchimento interno */
    border-radius: 20px; /* Cantos arredondados */
    text-align: center; /* Centraliza o texto */
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Estilos para a seção de gráficos */
.graficos {
    display: flex; /* Ativa o layout flexbox para os gráficos */
    justify-content: center; /* Centraliza os gráficos horizontalmente */
    gap: 20px; /* Espaço entre os gráficos */
    margin-top: 20px; /* Espaço acima dos gráficos */
}

.grafico1, .grafico2, .grafico3 {
    border: 3px solid #4cb9eb; /* Borda para os gráficos */
    border-radius: 20px; /* Cantos arredondados */
    height: 300px; /* Define a altura dos gráficos */
    background-color: #333; /* Cor de fundo dos gráficos */
    width: 30%; /* Ajuste a largura dos gráficos aqui */
    display: flex; /* Centraliza o canvas dentro do gráfico */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
}