body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}


header {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    background-color: black;
    position: fixed; /* Adiciona fixação */
    top: 0; /* Alinha no topo */
    z-index: 1000; /* Certifica-se de que o header fique sobre os outros elementos */
}

/* header div {
    height: 150px;
    width: 220px;
    background: linear-gradient(#7F00FF, #E100FF);
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 

} */

header img{
    height: 100px;
   
}

/* header h4 {
    font-size: 22px;
    padding: 10px;
} */

aside img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    

}





.container {
    margin-left: 200px; /* corresponde à largura do aside */
}

aside {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(77, 76, 76);
    padding-top: 20px; /* Adiciona padding para espaço no topo */
}

.bemvindo{
    color: white;
}

.img-aside {
    margin-top: 20px; /* Espaço adicional no topo da imagem */
}

.buttonsmeio {
    display: flex;
    flex-direction: column;
   
}

aside button {
    height: 50px;
    width: 180px;
    background-color: rgb(37, 14, 71);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    
}

.metricas1{
    background-color: white;
    height: 140px;
    width: 200px;
   border-radius: 20px;
   margin-left: 200px;
}

.metricas2{
    display: flex;
    background-color: white;
    height: 140px;
    width: 200px;
   border-radius: 20px;
   margin-left: 900px;
    margin-top: -140px;
}

section {
   
    height: 80vh;
    /* background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: -30px; /* Corresponde à altura do header */
}

section img {
    height: 200px;

}

section div {
    background-color: #fff;
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
     
}

.van-1{
    background-color: blue
}

.van-2{
    background-color: red;
}

.van-3{
    background-color: yellow;
}

section div:hover{
    height: 420px;
    width: 350px;
    transition: all 0.5s ease-in-out;
}

section h5 {
    margin-bottom: 25px;
    color: rgb(163, 84, 236);
    font-size: 40px;

}

