body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}





header img{
    height: 100px;
   
}



aside img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    

}





.container {
    margin-left: 200px; /* corresponde à largura do aside */
}

aside {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(77, 76, 76);
    padding-top: 20px; /* Adiciona padding para espaço no topo */
}

.bemvindo{
    color: white;
}

.img-aside {
    margin-top: 20px; /* Espaço adicional no topo da imagem */
}

.buttonsmeio {
    display: flex;
    flex-direction: column;
   
}

aside button {
    height: 50px;
    width: 180px;
    background-color: rgb(37, 14, 71);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    
}

.metricas1{
    background-color: white;
    height: 140px;
    width: 200px;
   border-radius: 20px;
   margin-left: 200px;
}

.metricas2{
    display: flex;
    background-color: white;
    height: 140px;
    width: 200px;
   border-radius: 20px;
   margin-left: 900px;
    margin-top: -140px;
}

section {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

section img {
    height: 200px;
}

.div_alerta {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.alerta1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 150px;
    background-color:red;
    font-size: 32px;
    text-align: center;
}

.alerta2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 150px;
    background-color:yellow;
    font-size: 32px;
    text-align: center;
}
.alerta3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 150px;
    background-color:green;
    font-size: 32px;
    text-align: center;
}
.alerta4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 150px;
    background-color:yellow;
    font-size: 32px;
    text-align: center;
}
.alerta5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 150px;
    background-color:red;
    font-size: 32px;
    text-align: center;
}

section div {
    height: 350px;
    width: 300px;
    display: flex;
  
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
     
}

.van-1{
    background-color: blue
}

.van-2{
    background-color: red;
}

.van-3{
    background-color: yellow;
}



section h5 {
    margin-bottom: 25px;
    color: rgb(163, 84, 236);
    font-size: 40px;

}

