* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background: #ffffff
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: fadeInLeftBig;
    animation-duration: 1s;
    /* margin-bottom: 70px; */
    /* background-color: rgb(106, 245, 245); */
    background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%);

    height: 150px;


}

header img {
    /* height: 200px; */
    height: 300px;
    margin-bottom: 30px;
    filter: drop-shadow(0 8px 20px rgba(46, 45, 45, 0.5));

}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    border-bottom: 2px solid rgb(163, 84, 236);
    cursor: url(./img/cursorPathPurple.png), pointer;
    filter: drop-shadow(0px 0px 10px rgba(6, 69, 105, 0.5));

}

header a span {
    color: rgb(163, 84, 236);
}

header a span:hover {
    color: #fff;

}

header a:hover {
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    color: rgb(163, 84, 236);
}

.logo {
    margin-right: 70px;

}

/* .oferecemos{
    display: flex;
    
    
}



.banner{
    display: flex;
   
   
}
 */

.first-section {

    display: flex;
    justify-content: center;
    /* add this */
    align-items: center;
    animation: fadeInRightBig;
    animation-duration: 1s;
    background-image: url(../assets//vecteezy_cute-little-dog-in-pet-carrier-with_24769404.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    /* Para que o pseudo-elemento se posicione em relação a esta seção */

}

.first-section::before {
    content: "";
    /* Necessário para criar um pseudo-elemento */
    position: absolute;
    /* Para que ocupe a mesma posição da seção */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cor preta com 50% de opacidade */
    z-index: 1;
    /* Para que fique abaixo do conteúdo */
}

.first-section h4 {
    font-size: 40px;
    color: #fff;
    z-index: 2;
    text-align: center;


}


.oferecemos {
    display: flex;
    justify-content: space-around;
    /* Para deixar as caixas lado a lado */
    margin: 70px 0;
    /* Margem acima e abaixo da seção */
}

.dados1,
.dados2 {
    background-color: #fff;
    /* Cor de fundo da caixa */
    border: 3px solid rgb(106, 245, 245);
    border-radius: 20px;
    /* Bordas arredondadas */
    width: 300px;
    /* Largura das caixas */
    padding: 20px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
}

.dados1 h3 {
    color: rgb(106, 245, 245);

}

.dados2 h3 {

    color: rgb(106, 245, 245);


}

.dados1,
.dados2 p {
    color: #333;
}

.dados1 img {
    height: 80px;
    margin-top: 40px;
}

.second-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    /* animation: fadeInLeftBig;
    animation-duration: 1s; */
    height: 40vh;


}



.img-quem-somos {
    height: 250px;
    margin-left: 35px;
}

.second-section img {
    height: 300px;


}


.second-section .texto {
    color: rgb(163, 84, 236);
    width: 50%;
    font-size: 50px;

}

.second-section .texto h2 {
    font-size: 40px;
   
    /* font-family: "ADLaM Display", system-ui; */
    /* font-family: "Source Code Pro", monospace; */
    text-align: center;
}

.second-section .texto p {
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

/* .img-section2{
   visibility: hidden;

} */

.second-section .texto button{
    border: 2px solid rgb(106, 245, 245);
    border-radius: 20px;
    /* height: 50px;
    width: 200px; */
    padding: 12px 30px;
    background-color:  rgb(106, 245, 245);
    color: #fff;   
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 60px;
   
} 

.second-section .texto a{
    text-decoration: none;
}

.second-section button img{
    filter: brightness(0) invert(1);
    height: 20px;
   
    
}



.second-section .texto button:hover{
    background-color: #fff;
    color: rgb(163, 84, 236);
   

   
  
    
    
}



.second-section-img{
    border-radius: 20px;
}



.box {
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 150px;
    /* animation: fadeInRightBig;
    animation-duration: 1s; */
    height: 500px;

    /* visibility: hidden;
    */

}


.box span {
    color: rgb(106, 245, 245);
    font-weight: bold;
}

.box img {
    height: 80px;
    justify-content: center;
}

.box h3 {
    color: rgb(106, 245, 245);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid rgb(106, 245, 245);
    ;
    padding-bottom: 10px;

}

.box p {
    font-size: 18px;

}

.box1 {
    background-color: #fff;
    height: 380px;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    border: 3px solid rgb(106, 245, 245);

}

.box2 {
    background-color: #fff;
    height: 380px;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    border: 3px solid rgb(106, 245, 245);



}

.box3 {
    background-color: #fff;
    height: 380px;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    border: 3px solid rgb(106, 245, 245);

}

footer {
    /* background-color: rgb(106, 245, 245); */
    background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%);

    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    filter: drop-shadow(0 8px 20px rgba(8, 99, 91, 0.5));


}

.icone {
    display: flex;
    align-items: center;
}

.icone img {
    margin-right: 10px;
    color: #fff;
}

.icone p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}


.integrantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff ;
    font-family: "Poppins", sans-serif;

}

.integrantes h3 {
    font-size: 50px;
    color: rgb(163, 84, 236);
    margin-bottom: 50px;
}

.integrantes h4 {
    color: rgb(163, 84, 236);
    font-weight: bold;
    font-size: 20px;

}

.integrantes p {
    font-size: 18px;
    font-weight: 500;

}


.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.group {
    display: inline-block;

    width: 30%;
    margin: 10px;
    text-align: center;
}

.group img {
    height: 150px;
    border-radius: 50%;
}

.group .logo {
    height: 30px;
    display: inline-block;
    margin: 0 5px;

}

.taxi-dog {
    background-image: url(./img/taxiDog.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.taxi-dog::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* add a black overlay with 50% opacity */
}

.container-servicos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap;  */
    /* background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%);  */
    /* background: #00EEEF; */
    /* background: linear-gradient( #6AF5F5,#00EEEF); */
    background-color: #fff;
   
    
}



.container-servicos h2 {
    font-size: 50px;
    text-align: center;
    color: rgb(163, 84, 236);
}

.container-servicos h4 {
    color: rgb(106, 245, 245);
}

.container-servicos div {

    background-color: #fff;
    height: 380px;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    margin: 40px;
    /* border: 3px solid rgb(106, 245, 245); */

}


.passo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    border: 3px solid rgb(106, 245, 245);


}

.passo1 h4 {
    margin-bottom: 20px;
    font-size: 20px;
}

.passo1 p {
    margin-bottom: 20px;
}

.passo1 img {
    margin-top: 20px;
}

.passo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    border: 3px solid rgb(106, 245, 245);

}

.passo2 h4 {
    margin-bottom: 20px;
    font-size: 20px;
}

.passo2 p {
    margin-bottom: 20px;
}

.passo2 img {
    margin-top: 20px;
}

.passo3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    border: 3px solid rgb(106, 245, 245);
}


.passo3 h4 {
    margin-bottom: 20px;
    font-size: 20px;
}

.passo3 p {
    margin-bottom: 20px;
}

.passo3 img {
    margin-top: 20px;
}

.passo4,
.passo15 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    border: 3px solid rgb(106, 245, 245);
}

.passo4,
.passo15 h4 {
    margin-bottom: 20px;
    font-size: 20px;
}


.passo4,
.passo15 p {
    margin-bottom: 20px;
}

.passo4,
.passo15 {
    margin-top: 20px;
}



.container-servicos img {
    height: 100px;
}



.taxi-dog {
    background-image: url(../assets//taxiDog.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;


}

.gato,
.van {
    filter: brightness(0) invert(1);
}



.container-geral {
    
    display: flex;
    flex-direction: column;
    gap: 40px;
   
    /* Usar Flexbox para o layout */
    /* flex-wrap: wrap; */
    height: 90vh;
   
    /* background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%); */
    background-color:  #333;
    align-items: center;
   
}

.beneficios {
    width: 50%;
    margin-top: 40px;
    /* Definir a largura da caixa de benefícios */
    /* margin-bottom: 20px; */
    /* Espaçamento entre as caixas */
   
}

.atendimento {
    width: 50%;

    /* Definir a largura da caixa de atendimento */
    /* margin-left: auto; */
    /* Alinhar a caixa de atendimento à direita */
}

.container-geral .beneficios h4 {
    font-size: 40px;
    /* color: rgb(163, 84, 236);
    border-bottom: 2px solid  rgb(163, 84, 236); */
    color: rgb(106, 245, 245);
    border-bottom: 2px solid rgb(106, 245, 245);;
    margin-bottom: 30px;

}

.container-geral .atendimento h4 {
    font-size: 40px;
    /* color: rgb(163, 84, 236);
    border-bottom: 2px solid  rgb(163, 84, 236); */
    color: rgb(106, 245, 245);
    border-bottom: 2px solid rgb(106, 245, 245);;
    margin-bottom: 30px;

}

.container-geral .beneficios p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;


}

.container-geral .atendimento p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.img-geral{
    height: 50px;
}

.h2{
    margin-top: 40px;
}

.second-section-img , .box , .texto , .box1, .box2, .box3 , .beneficios , .atendimento,
.passo1 , .passo15 , .passo2 , .passo3 , .passo4
{
    visibility: hidden;
}