* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} 

header {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    background-color: gray;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header img {
    height: 100px;
}



aside img {
    height: 150px;
    width: 150px;


}

aside span{
    margin-bottom: 20px;
}



.aside-metrica{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}





.container {
    margin-left: 200px; /* corresponde à largura do aside */
    margin-top: 130px; /* Compensa a altura do header */
    height: 100vh;
    /* width: 100vw; */
}

aside {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%);
    
}

.img-aside {
   
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.buttonsmeio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;  /* Ajuste o espaçamento entre os botões conforme necessário */
}

aside button {
    height: 50px;
    width: 180px;
    background: linear-gradient(#7F00FF, #E100FF);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

